.Main{
    height:max-content;
  background-color: black;
    padding: 1rem;
 
}

.DisplayArea{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}


  
@media (max-width: 1362px) {
    .DisplayArea {
      grid-template-columns: repeat(4, 0.5fr);
    }
  }

  @media (max-width: 900px) {
    .DisplayArea {
      grid-template-columns: repeat(2, auto);
    }
  }



  @media (max-width: 454px) {
    .DisplayArea {
      grid-template-columns: repeat(1,auto);
   
    }
  }


